.viewer-container {
  // background-image: linear-gradient(rgba(27, 30, 32, 0.8), rgb(7, 6, 6));
  background-image: url(../Assets/background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;

}